.factory-list-container {
    margin-left: 12px;
}

.factory-container {
    margin: 2px;
    padding: 12px;
    border: dotted gray 1px;
}

.factory-id-container {
    color: gray;
    font-size: 0.75rem;
}

.factory-name-divider {
    width: 25%;
    opacity: 0.25;
    margin-left: 0;
}