<configuration scan="true" debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="remote" class="com.soze.cashflow.logaggregator.appender.HttpLogAggregatorAppender">
        <address>http://localhost:8999</address>
        <application>truck-service</application>
    </appender>

    <logger name="com.soze.cashflow.logaggregator.appender" level="INFO" />

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="remote" />
    </root>
</configuration>